{% extends 'base.html.twig' %}

{% block title %}Comparateur de prix immobilier
{% endblock %}

{% block body %}

	<div class="hero-wrapper">
		<h1>Trouvez le juste prix de l'immobilier en Île-de-France !</h1>
		<p>Comparez, analysez et anticipez le marché immobilier grâce à ImmoGoodPrice</p>
		<a href="{{ path('app_carte') }}" class="btn">Découvrir la carte</a>

	</div>
{% endblock %}
